/*ABOUT PAGE*/
.header h1 {
	padding: 136px 0 68px;
	color: #f9f9f9;
	text-transform: uppercase;
	text-align: center;
	font-family: "LatoRegular";
}
.container {
	/*padding-top: 87px;*/
	text-align: center;
	font-family: "LatoRegular";
	font-weight: bold;
	font-size: 30px;
}

.container h3 {
	font-size: 24.97px;
	font-family: "LatoRegular";
	color: #444444;
	padding: 98px 0 26px;
}
.container .curve-line {
	display: block;
	margin: 0 auto;
	padding-bottom: 0px;
}
.container-text {
	margin: 31px 160px 0;
	font-family: "LatoLight";
	color: #717272;
	font-size: 14px;
	text-align: left;
}
.container .item {
	display: inline-block;
	margin: 0 11px;
	height: 133px;
	width: 133px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;

}
.container .tool-description {
	font-size: 20px;
	font-family: "LatoRegular";
	color: #ffffff;
	background-color: rgba(146, 165, 188, .8);
	border: 10px solid rgba(39, 174, 97,.8);
	width: 113px;
	height: 113px;
	line-height: 113px;
	border-radius: 50%;
	position: absolute;
	top: 133px;
	transition: all .5s ease;
}
.row2 .tool-description {
	font-size: 15px;
}
.container .item:hover .tool-description {
	top: 0;
}

.button-about {
	text-align: center;
	padding: 79px 0 59px;
}
.button-about a {
	text-decoration: none;
	font-size: 10px;
	color: #ffffff;
	font-family: "LatoBold", sans-serif;
	background-color: #2ecc71;
	padding: 9px 39px;
	border-radius: 4px;
}