}
/*CONTACTS PAGE*/
.map {
	text-align: center;
	padding: 67px 0 61px;
}

.container-contact h2 {
	margin: 0 auto;
	margin-bottom: 59px;
	max-width: 515px;
	width: 100%;
	text-align: center;
	font-family: "LatoRegular";
	color: #444444;
	font-size: 24px;

}
.container-contact .text-about {
	margin: 0 168px 68px;
	font-family: "LatoLight";
	font-size: 16px;
	color: #717272;
	text-align: justify;
}
.form-and-contact{
	overflow: hidden;
}
.form-block {
	/*float: left;*/
}
/*43233!!!!!!!!!!!!!!!!!!1*/
form {
	float: left;
	font-family: "LatoLight";
	font-size: 16px;
	color: #dfe2e3;
	max-width: 562px;
	width: 100%;
}
form input {
	display: block;
	padding: 14px 17px;
	max-width: 320px;
	width: 100%;
	margin: 0 0 15px 162px;
	background-color: #ecf0f1;
	border: 1px solid #c6c8c9;
}
textarea {
	max-width: 320.5px;
	width: 100%;
	margin: 0 0 0px 162px;
	padding: 14px 17px;
	background-color: #ecf0f1;
	border: 1px solid #c6c8c9;
}
input[type="submit"] {
	margin-top: 14px;
	padding: 8px 29px;
	width: auto;
	background-color: #95a5a6;
	border-radius: 3px;
	font-family: "LatoBold";
	font-size: 8px;
	color: #e3e7e7;
}
.contact-details {
	float: left;
	display: inline-block;
	max-width: 135px;
	width: 100%;
}
.contact-details h4 {
	margin-top: 0;
	font-family: "LatoRegular";
	color: #444444;
	font-size: 17px;
}
.contact-details p {
	font-family: "LatoLight";
	color: #717272;
	font-size: 14px;
}