@import url('normalize.css');
@import url('fonts.css');
h3 {
	margin: 0;
}
body {
	background-color: #bdc3c7;
	height: 100%;
	width: 100%;
}
html {
	height: 100%;
	width: 100%;
}

/*--------<HEADER--------*/
.wrapper{
	position: relative;
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
}
.header {
	background-color: #27ae60;
}
.logo {
	padding-top: 21px;
	margin-left: 60px;
	float: left;
}
.menu ul{
	list-style: none;
}
.menu li {
	display: inline-block;
	padding-left: 16px;
}

.menu a {
	color:#f9f9f9;
	text-decoration: none;
	font-size: 14px;
	font-family: "LatoRegular"
}
.menu a:hover {
	color: #25362c;
}

.menu {
	float: right;
	padding-right: 60px;
	padding-top: 18px;
}
.top-header{
	overflow: hidden;
}
.header h1 {
	margin: 0;
	padding-top: 127px;
	padding-bottom: 68px;
	text-align: center;
	text-transform: uppercase;
	color: #f9f9f9;
	font-size: 40px;
	font-family: "LatoLight", sans-serif;
	font-weight: 100;
}

.header span {
	font-family: "LatoRegular", sans-serif;
	font-weight: 600;
}
.button {
	text-align: center;
	padding-bottom: 96px;
}
.button a {
	text-decoration: none;
	font-size: 17px;
	color: #ffffff;
	font-family: "LatoBold", sans-serif;
	background-color: #2ecc71;
	padding: 16px 67px;
	border-radius: 4px;
}


/*-----HEADER------>*/


/*<----CONTENT-----*/



/*---<css for "INDEX" page--*/
.content {
	background-color: #ecf0f1;
}
.content .head-content {
	padding-top: 81px;
	text-align: center;
	font-family: "LatoRegular";
	color: #444444;
	font-size: 24.97px;
}
.curve-line {
	display: block;
	margin: 28px auto 0;
	padding-bottom: 28px;
}
.content-text {
	color: #444444;
	font-size: 11.94px;
	text-align: center;
}
.content .text-work {
	text-align: center;
	padding: 90px 0 27px 0;
	font-size: 25px;
	color: #7f8c8d;
	font-family: "LatoRegular";
}
.content .content-pictures {
	text-align: center;
}

.content .content-pictures img {
	padding: 10px 11px;
}

.content-button {
	text-align: center;
	padding-top: 45px;
}
.content-button a {
	display: inline-block;
	background-color: #ecf0f1;
	border-radius: 4px;
	border-style: solid;
	padding: 12px 81px;
	text-decoration: none;
	color: #8b98a4;
	font-family: "LatoRegular";
	font-size: 12.92px;
	border-width: 2px;
}
.content-text-down {
	color: #7f8c8d;
	font-size: 25px;
	font-family: "LatoRegular", sans-serif;
	text-align: center;
	padding-top: 140px;
}

.content-logo {
	text-align: center;
	padding: 44px 0 79px;
}
.content-logo ul {
	list-style: none;
	margin: 0;
}
.content-logo li {
	display: inline-block;
	padding: 0 35px 0;
	vertical-align: top;
}
.content-logo li:first-child {
	padding-left: 20px;
}
/*---css for "INDEX" page>--*/

/*---<css for "ABOUT" page*/
.header h1 {
	padding: 136px 0 68px;
	color: #f9f9f9;
	text-transform: uppercase;
	text-align: center;
	font-family: "LatoRegular";
}
.container {
	text-align: center;
	font-family: "LatoRegular";
	font-weight: bold;
	font-size: 30px;
}

.container h3 {
	font-size: 24.97px;
	font-family: "LatoRegular";
	color: #444444;
	padding: 98px 0 26px;
}
.container .curve-line {
	display: block;
	margin: 0 auto;
	padding-bottom: 0px;
}
.container-text {
	margin: 31px 160px 0;
	font-family: "LatoLight";
	color: #717272;
	font-size: 14px;
	text-align: left;
}
.container .item {
	display: inline-block;
	margin: 0 11px;
	height: 133px;
	width: 133px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;

}
.container .tool-description {
	font-size: 20px;
	font-family: "LatoRegular";
	color: #ffffff;
	background-color: rgba(146, 165, 188, .8);
	border: 10px solid rgba(39, 174, 97,.8);
	width: 113px;
	height: 113px;
	line-height: 113px;
	border-radius: 50%;
	position: absolute;
	top: 133px;
	transition: all .5s ease;
}
.row2 .tool-description {
	font-size: 15px;
}
.container .item:hover .tool-description {
	top: 0;
}

.button-about {
	text-align: center;
	padding: 79px 0 59px;
}
.button-about a {
	text-decoration: none;
	font-size: 10px;
	color: #ffffff;
	font-family: "LatoBold", sans-serif;
	background-color: #2ecc71;
	padding: 9px 39px;
	border-radius: 4px;
}
/*---css for "ABOUT" page>*/

/*<---css for work*/
.work-content {
	background-color: #ecf0f1;
}
.work-content-pictures {
	width: 650px;
	padding: 73px 0 65px;
	margin: auto;
}
.work-content-pictures .item {	
	display: inline-block;
	margin: 10px;
	position: relative;
}
.work-content-pictures .item:last-child {
	text-align: left;
}
.work-description {
	position: absolute;
	display: none;
	top: 20px;
	left: 20px;
	width: 260px;
	height: 153px;
	background-color: rgba(149, 165, 166,.9);
	color: #fff;
	text-align: center;
	font-family: "LatoRegular";
}
.work-content-pictures .item:hover .work-description {
	display: block;
}

.work-description .text1 {
	font-size: 19.86px;
	padding-top: 47px;

}
.work-description .text2 {
	font-size: 9.93px;
}
.line {
	width: 70px;
	height: 1px;
	background-color: #fff;
	margin: 15px auto;
}

/*---css for "WORK" page>*/

/*---<css for "CONTACT PAGE" page*/
.map {
	text-align: center;
	padding: 67px 0 61px;
}

.container-contact h2 {
	margin: 0 auto;
	margin-bottom: 59px;
	max-width: 515px;
	width: 100%;
	text-align: center;
	font-family: "LatoRegular";
	color: #444444;
	font-size: 24px;

}
.container-contact .text-about {
	margin: 0 168px 68px;
	font-family: "LatoLight";
	font-size: 16px;
	color: #717272;
	text-align: justify;
}
.form-and-contact{
	overflow: hidden;
}
form {
	float: left;
	font-family: "LatoLight";
	font-size: 16px;
	color: #dfe2e3;
	max-width: 562px;
	width: 100%;
}
form input {
	display: block;
	padding: 14px 17px;
	max-width: 320px;
	width: 100%;
	margin: 0 0 15px 162px;
	background-color: #ecf0f1;
	border: 1px solid #c6c8c9;
}
textarea {
	max-width: 320.5px;
	width: 100%;
	margin: 0 0 0px 162px;
	padding: 14px 17px;
	background-color: #ecf0f1;
	border: 1px solid #c6c8c9;
}
input[type="submit"] {
	margin-top: 14px;
	padding: 8px 29px;
	width: auto;
	background-color: #95a5a6;
	border-radius: 3px;
	font-family: "LatoBold";
	font-size: 8px;
	color: #e3e7e7;
}
.contact-details {
	float: left;
	display: inline-block;
	max-width: 135px;
	width: 100%;
}
.contact-details h4 {
	margin-top: 0;
	font-family: "LatoRegular";
	color: #444444;
	font-size: 17px;
}
.contact-details p {
	font-family: "LatoLight";
	color: #717272;
	font-size: 14px;
}
/*---css for "CONTACT PAGE" page>*/

/*<----FOOTER-----*/

.footer-help-block{
	height: 88px;
}
.footer {
	position: relative;
	margin: -88px auto 0;
	width: 940px;
	height: 88px;
	background-color: #444444;
}
.block-soc-network {
	float: left;
	line-height: 88px;
}
.block-soc-network ul {
	list-style: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 60px;
	margin: 0;
}
.block-soc-network a {
	text-decoration: none;
	color: #b1b1b1;
	font-size: 8.64px;
	font-family: "LatoLight", sans-serif;

}
.block-soc-network li {
	padding-right: 13px;
	display: inline-block;
}
.footer .soc {
	color: #e4e4e4;
	font-size: 16px;
	padding-right: 13px;
}

.block-copyright {
	font-size: 12px;
	color: #bdbdbd;
	float: right;
	line-height: 88px;
	font-family: "LatoLight";
	padding-right: 59px;
}
.block-soc-network i:first-child {
	margin-top: -2px;
}
/*----FOOTER----->*/